<%= link_to "Home", lists_path %>

<h1>Edit Item </h1>
<p>for <%= @list.name %></p>

<%= form_for @item do |f| %>
  <%= f.text_field :name %> <br>
  <%= f.text_area :desc %>
  <%= f.submit "Update" %>
<% end %>

