<%= link_to "Home", lists_path %>

<h1>New Item <small>for <%= @list.name %></small></h1>

<%= form_for [@list, Item.new] do |f| %>
  <%= f.text_field :name, :placeholder => "Name" %> <br>
  <%= f.text_area :desc, :placeholder => "Description" %>
  <%= f.submit "Make Item" %>
<% end %>