<h1>Edit <%= @todo.item %></h1>


<%= form_for @todo do |f| %>
  <p>
    <%= f.label :item %>
    <%= f.text_field :item, autofocus: true %>
  </p>

  <%= f.submit "Submit" %>
<% end %>

<%= link_to "Delete Post Entry", post_path, method: "DELETE" %>