<h1>Add a new task.</h1>

<% if @item.errors.any? %>
<% @item.errors.full_messages.each do |error| %>
<p class="text-danger">
<%= error%>
</p>
<% end %>
<% end %>

<%= form_for @item, url: "/list" do |f| %>
<p>
<%= f.label :name %>
<%= f.text_field :name, autofocus: true %>
</p>
<p>
<%= f.submit %>
</p>
<% end %> 
