<h1><%= @todolist.name %></h1>

<h2>Here are your todos</h2>

<ul>
  <%@todolist.todos.each do |todo| %>
  <li>
    <p><%= todo.content %></p>
    <p><%= link_to "Edit", edit_todolist_todo_path(@todolist.id,todo.id) %></p>
    <p><%= button_to "Delete", todolist_todo_path(@todolist.id,todo.id), method: :delete %></p>
  </li>
</ul>
<% end %>

<%= link_to "New todo", new_todolist_todo_path(@todolist.id) %>